<table class="table table-striped table-hover">
    <tbody>
    <tr>
        <th class="col-md-1">ID</th>
        <th class="col-md-1">Protocol</th>
        <th class="col-md-2">Ip</th>
        <th class="col-md-1">Port</th>
        <th class="col-md-6">Description</th>
        <th class="col-md-1 text-right">
            {{#unless view.readOnly}}
                <a {{action "addRule"}} href="#" title="Add new rule" class="glyphicon glyphicon-plus"></a>
            {{/unless}}
        </th>
    </tr>
    {{#each rule in accessRules}}
        <tr>
            <td>{{rule.id}}</td>
            <td>{{rule.protocol}}</td>
            <td>{{rule.ip}}</td>
            <td>{{rule.port}}</td>
            <td>{{rule.description}}</td>
            <td class="text-right">
            {{#unless view.readOnly}}
                <a href="#" {{action 'removeRule' rule}} title="Remove rule" class="glyphicon glyphicon-minus"></a>
            {{/unless}}
            </td>
        </tr>
    {{/each}}
    {{#if controller.addRule}}
        {{#unless view.readOnly}}
            {{view Access.AccessRuleFotmView}}
        {{/unless}}
    {{/if}}
    </tbody>
</table>