{{#if current_user}}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">IPTables</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-5">
                <ul class="nav navbar-nav">
                    {{#link-to 'nodes' tagName='li'}}
                        <a>Nodes</a>
                    {{/link-to}}
                    {{#link-to 'groups' tagName='li'}}
                        <a href="">Groups</a>
                    {{/link-to}}
                </ul>
            </div>
            <div class="profile-info">
                <div class="pull-right">
                    <a {{bind-attr href="current_user.profile"}}>
                        <strong>{{current_user.name}}</strong>
                        <br>
                        {{current_user.email}}
                    </a><br>
                    <a href="#" {{action 'logout'}}>Sign out</a>
                </div>
                <a {{bind-attr href="current_user.profile"}}>
                    <img class="pull-right img-polaroid" {{bind-attr src=current_user.image}}>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </nav>
{{/if}}
<ol class="breadcrumb">
    <li><a href="#/">Index</a></li>
    {{#each breadcrumbs}}
       <li></li>
        <li {{bind-attr class="active"}}>
            {{#if model}}
                {{#link-to route model.id}}
                    <i {{bind-attr class=':fa icon'}}></i>
                    {{name}}
                {{/link-to}}
            {{else}}
                {{#link-to route}}
                    <i {{bind-attr class=':fa icon'}}></i>
                    {{name}}
                {{/link-to}}
            {{/if}}
        </li>
    {{/each}}
</ol>

{{outlet}}